# Configuración de URL base para la API Backend FastAPI
VITE_API_BASE_URL=http://localhost:8000/api

# Configuración de cliente Supabase (opcional para peticiones directas frontend-cloud)
VITE_SUPABASE_URL=https://qvutqqfsypzcfjhhzqsk.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_KT61xj__yMLdxD37Wc5Teg_RFfQz6Rm
